.navbar {
  position: fixed;
  width: 100%;
  background: transparentize($color: $black, $amount: 0.9);
  color: $black;
  z-index: 2;
  .collapse {
    z-index: 10;
    position: fixed !important;
    left: 0;
    width: 100vw;
    height: 30px;
    color: $black;
    margin-top: 15px;
  }
  .collapsing {
    z-index: 10;
    position: fixed !important;
    left: 0;
    width: 100vw;
    height: 30vh;
    margin-top: 15px;
  }
  .collapsing.show {
    z-index: 10;
    position: fixed !important;
    left: 0;
    width: 100vw;
    margin-top: 15px;
    height: 30vh;
  }
  .header {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: $primary;
    .logo {
      border-radius: 50px;
    }
  }
  .body {
    .nav-link {
      margin-left: 10px;
      padding-left: 10px;
      list-style-type: none;
      text-transform: uppercase;
      cursor: pointer;
      color: $white;
      font-weight: 500;
      
    }
  }
  .book-button {
    margin-left: 5px;
    background-color: $primary;
    color: $white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: fit-content;
  }
  .float-right {
    margin-left: 5px;
  }
  .social-links {
    margin-left: 10px;
  }
}

.navbar.scrolled {
  background: $black;
  transition: all 0.2s linear;
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    position: fixed;
    width: 100%;
    background: transparentize($color: $black, $amount: 0.6);
    color: $white;
    z-index: 2;
  .collapse {
    z-index: 3;
    position: fixed !important;
    left: 0;
    width: 100vw;
    color: $black;
    margin-top: 15px;
  }
  .collapsing {
    z-index: 3;
    position: fixed !important;
    left: 0;
    width: 100vw;
    margin-top: 15px;
  }
  .collapsing.show {
    z-index: 3;
    position: fixed !important;
    left: 0;
    width: 100vw;
    margin-top: 15px;
  }
  .header {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: $primary;
  }
  .body {
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .book-button {
    margin-left: 20px;
    background-color: $primary;
    color: $white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
}

.navbar.scrolled {
  background: $black;
  transition: all 0.2s linear;
}
  
}